<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>

     @Styles.Render("~/Content/_base.css")
     @Styles.Render("~/Content/form.css")
     @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
     @Scripts.Render("~/js/bootstrap.min.js")
    
</head>
<body>

    @RenderSection("header", required: false)
 
     @RenderBody()

    @RenderSection("footer", required: false)

   
</body>
</html>
