<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit">

    @RenderSection("meta", required: false)

    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>

    @Styles.Render("~/Content/bootstrap/css/bootstrap-theme.min.css")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-theme.min.css")

    @Styles.Render("~/Content/base.css")

    @Styles.Render("~/Content/custom.css")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")

    @Scripts.Render("~/Scripts/common.js")
    @Scripts.Render("~/Scripts/page.js")
    @Scripts.Render("~/Scripts/table.js")


</head>
<body>

    <!--这里是header模板-->
    @RenderSection("header", required: false)
    <!--header模板结束-->
    <!--这里是body-->
    @RenderBody()
    <!--body结束-->
    <!--这里是footer模板-->
    @RenderSection("footer", required: false)
    <!--footer模板结束-->

</body>
</html>
